JWT_SECRET="qwertyu123456qwertyu123456qwertyu123456"
AUTH_TIMEOUT="5s"
ACCESS_TOKEN_TTL="15m"
REFRESH_TOKEN_TTL="168h"

APP_STAGE="local"       #prod, dev, local
LOG_LEVEL="debug"
MIGRATION_DIR=./migrations
PG_DSN=""
REDIS_URI=""
CLIENT_ID=""
CLIENT_SECRET=""
CLIENT_CALLBACK_URL="https://pethelpbackend.onrender.com/api/v1/oauth/google/callback"
SESSION_SECRET=""

